# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of PrivateBin systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ privatebin_identifier }}.service"
  register: privatebin_service_stat

- name: Uninstall PrivateBin systemd services and files
  when: privatebin_service_stat.stat.exists | bool
  block:
    - name: Ensure PrivateBin systemd service is stopped
      ansible.builtin.service:
        name: "{{ privatebin_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure PrivateBin systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ privatebin_identifier }}.service"
        state: absent

    - name: Ensure PrivateBin support files do not exist
      ansible.builtin.file:
        path: "{{ privatebin_base_path }}/{{ item }}"
        state: absent
      with_items:
        - env
        - labels

    - name: Ensure PrivateBin configuration file does not exist
      ansible.builtin.file:
        path: "{{ privatebin_base_path }}/{{ item }}"
        state: absent
      with_items:
        - config.php

    - name: Ensure PrivateBin image source files path does not exist
      ansible.builtin.file:
        path: "{{ privatebin_container_image_self_build_src_files_path }}"
        state: absent

    - name: Ensure PrivateBin local data path does not exist if empty
      ansible.builtin.command:
        cmd: "rmdir {{ privatebin_data_path }}"
      register: privatebin_data_path_deletion_result
      changed_when: privatebin_data_path_deletion_result.rc == 0
      failed_when: false

    - name: Ensure PrivateBin base path does not exist if empty
      ansible.builtin.command:
        cmd: "rmdir {{ privatebin_base_path }}"
      register: privatebin_base_path_deletion_result
      changed_when: privatebin_base_path_deletion_result.rc == 0
      failed_when: false

    - name: Ensure PrivateBin container network does not exist
      when: privatebin_container_network_deletion_enabled
      block:
        - name: Ensure PrivateBin container network does not exist via community.docker.docker_network
          when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
          community.docker.docker_network:
            name: "{{ privatebin_container_network }}"
            state: absent
          register: privatebin_network_deletion_result

        - name: Ensure PrivateBin container network does not exist via ansible.builtin.command
          when: devture_systemd_docker_base_container_network_creation_method == 'command'
          ansible.builtin.command:
            cmd: >-
              {{ devture_systemd_docker_base_host_command_docker }} network rm
              {{ privatebin_container_network }}
          register: privatebin_network_deletion_result
          changed_when: privatebin_container_network in privatebin_network_deletion_result.stdout

- name: Check existence of PrivateBin local data path
  ansible.builtin.stat:
    path: "{{ privatebin_data_path }}"
  register: privatebin_data_path_stat

# We just want to notify the user. Deleting data is too destructive.
- name: Notify if PrivateBin local data remains
  when: privatebin_data_path_stat.stat.exists | bool
  ansible.builtin.set_fact:
    devture_playbook_runtime_messages_list: |
      {{
        devture_playbook_runtime_messages_list | default([])
        +
        [
          "Note: As the local PrivateBin instance has been removed, some old data remains in `" + privatebin_data_path + "`. Feel free to delete it. Unless the 'model' configuration (privatebin_config_model) has been set to 'Filesystem' or 'SQLite', the directory should be empty."
        ]
      }}
