;<?php http_response_code(403); /*
; config file for PrivateBin
;
; See https://github.com/PrivateBin/PrivateBin/wiki/Configuration
; and https://github.com/PrivateBin/PrivateBin/blob/master/cfg/conf.sample.php

[main]
name = {{ privatebin_config_main_name }}

basepath = {{ privatebin_config_main_basepath }}

discussion = {{ privatebin_config_main_discussion_enabled | to_json }}

opendiscussion = {{ privatebin_config_main_opendiscussion_enabled | to_json }}

discussiondatedisplay = {{ privatebin_config_main_discussiondatedisplay_enabled | to_json }}

password = {{ privatebin_config_main_password_enabled | to_json }}

fileupload = {{ privatebin_config_main_fileupload_enabled | to_json }}

burnafterreadingselected = {{ privatebin_config_main_burnafterreadingselected_enabled | to_json }}

defaultformatter = {{ privatebin_config_main_defaultformatter }}

syntaxhighlightingtheme = {{ privatebin_config_main_syntaxhighlightingtheme }}

sizelimit = {{ privatebin_config_main_sizelimit }}

templateselection = {{ privatebin_config_main_templateselection | to_json }}

availabletemplates[] = "bootstrap"
availabletemplates[] = "bootstrap-page"
availabletemplates[] = "bootstrap-dark"
availabletemplates[] = "bootstrap-dark-page"
availabletemplates[] = "bootstrap-compact"
availabletemplates[] = "bootstrap-compact-page"
availabletemplates[] = "bootstrap5"
availabletemplates[] = "page"

template = {{ privatebin_config_main_template }}

info = "{{ privatebin_config_main_info }}"

notice = {{ privatebin_config_main_notice }}

languageselection = {{ privatebin_config_main_languageselection_enabled | to_json }}

languagedefault = {{ privatebin_config_main_languagedefault }}

{% if privatebin_config_main_urlshortener and privatebin_config_yourlsapi_enabled == '' %}
urlshortener = {{ privatebin_config_main_urlshortener }}
{% elif privatebin_config_yourlsapi_enabled %}
urlshortener = "${basepath}?shortenviayourls&link="
{% endif %}

qrcode = {{ privatebin_config_main_qrcode_enabled | to_json }}

email = {{ privatebin_config_main_email_enabled | to_json }}

icon = {{ privatebin_config_main_icon }}

{% if privatebin_config_main_template == 'bootstrap5' %}
cspheader = "{% if privatebin_config_main_cspheader_defaultsrc_enabled %}default-src 'self'; {% endif %}{{ privatebin_config_main_cspheader }}"
{% else %}
cspheader = "{% if privatebin_config_main_cspheader_defaultsrc_enabled %}default-src 'none'; {% endif %}{{ privatebin_config_main_cspheader }}"
{% endif %}

; zerobincompatibility = false

httpwarning = {{ privatebin_config_main_httpwarning | to_json }}

compression = {{ privatebin_config_main_compression }}

[expire]
default = {{ privatebin_config_expire_default }}

[expire_options]
{{ privatebin_config_expire_options }}

[formatter_options]
plaintext = "Plain Text"
syntaxhighlighting = "Source Code"
markdown = "Markdown"

[traffic]
limit = {{ privatebin_config_trafic_limit }}

exempted = {{ privatebin_config_trafic_exempted }}

creators = {{ privatebin_config_trafic_creators }}

; header = "X_FORWARDED_FOR"

[purge]
limit = 300

batchsize = 10

{% if privatebin_config_model == 'Filesystem' %}
[model]
class = Filesystem
[model_options]
dir = PATH "data"

{% elif privatebin_config_model == 'GoogleCloudStorage' %}
[model]
class = GoogleCloudStorage
[model_options]
bucket = {{ privatebin_config_model_gcs_bucket }}
prefix = {{ privatebin_config_model_gcs_prefix }}
uniformacl = {{ privatebin_config_model_gcs_uniformacl | to_json }}

{% elif privatebin_config_model == 'MySQL' %}
[model]
class = Database
[model_options]
dsn = "{{ privatebin_config_model_database_mysql_dsn }}"
tbl = "privatebin_"  ; table prefix
usr = {{ privatebin_database_mysql_username }}
pwd = {{ privatebin_database_mysql_password }}
opt[12] = true    ; PDO::ATTR_PERSISTENT

{% elif privatebin_config_model == 'SQLite' %}
[model]
class = Database
[model_options]
dsn = "sqlite:" PATH "data/db.sq3"
usr = null
pwd = null
opt[12] = true  ; PDO::ATTR_PERSISTENT

{% elif privatebin_config_model == 'PostgreSQL' %}
[model]
class = Database
[model_options]
dsn = "{{ privatebin_config_model_database_postgres_dsn }}"
tbl = "privatebin_"     ; table prefix
usr = {{ privatebin_database_postgres_username }}
pwd = {{ privatebin_database_postgres_password }}
opt[12] = true    ; PDO::ATTR_PERSISTENT

{% elif privatebin_config_model == 'S3' %}
[model]
class = S3Storage
[model_options]
region = {{ privatebin_config_model_s3_region }}
version = {{ privatebin_config_model_s3_version }}
bucket = {{ privatebin_config_model_s3_bucket }}
accesskey = {{ privatebin_config_model_s3_accesskey }}
secretkey = {{ privatebin_config_model_s3_secretkey }}
{% endif %}

{% if privatebin_config_yourlsapi_enabled %}
[yourls]
signature = {{ privatebin_config_yourlsapi_signature }}
apiurl = {{ privatebin_config_yourlsapi_url }}
{% endif %}

{% if privatebin_config_sri %}
[sri]
{{ privatebin_config_sri }}
{% endif %}
