{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if privatebin_container_labels_traefik_enabled %}
traefik.enable=true

{% if privatebin_container_labels_traefik_docker_network %}
traefik.docker.network={{ privatebin_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if privatebin_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ privatebin_identifier }}-slashless-redirect.redirectregex.regex=({{ privatebin_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ privatebin_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [privatebin_identifier + '-slashless-redirect'] %}
{% endif %}

{% if privatebin_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ privatebin_identifier }}-strip-prefix.stripprefix.prefixes={{ privatebin_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [privatebin_identifier + '-strip-prefix'] %}
{% endif %}

{% if privatebin_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in privatebin_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ privatebin_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [privatebin_identifier + '-add-request-headers'] %}
{% endif %}

{% if privatebin_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in privatebin_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ privatebin_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [privatebin_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ privatebin_identifier }}.rule={{ privatebin_container_labels_traefik_rule }}
{% if privatebin_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ privatebin_identifier }}.priority={{ privatebin_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ privatebin_identifier }}.service={{ privatebin_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ privatebin_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ privatebin_identifier }}.entrypoints={{ privatebin_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ privatebin_identifier }}.tls={{ privatebin_container_labels_traefik_tls | to_json }}
{% if privatebin_container_labels_traefik_tls %}
traefik.http.routers.{{ privatebin_identifier }}.tls.certResolver={{ privatebin_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ privatebin_identifier }}.loadbalancer.server.port={{ privatebin_container_http_port }}
{% endif %}

{{ privatebin_container_labels_additional_labels }}
